/******** GLOBAL STYLES ******/

* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  margin: auto;
  padding: 0;
  background-color: #FCFCFC;
  border: 15px solid #eaeaea;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

p {
  line-height: 1.7;
  font-size: 14px;
  font-weight: 400;
}

a {
  color: #000;
  font-size: 14px;
}

img {
  max-width: 100%;
}

.landing {
  padding: 30px;
}

.header-text {
  margin: 0 0 40px;
  padding: 0;
  text-indent: -999em;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 640px) {
  .landing {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 60px;
  }
}

/******** HEADER STYLES ******/

.hi-there {
  width: 173px;
  height: 48px;
  background-image: url(img/hi-there.png);
}

.hero {
  position: relative;
  padding-bottom: 40px; /* positions the :after spacing */
}

.hero:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background: #757575;
  width: 90px;
}

.hero-img-mobile {
  margin-top: 30px;
}

.hero-img-desktop {
  display: none;
}

@media screen and (min-width: 640px) {
  .hero {
    display: flex;
    position: relative;
  }

  .hero-content {
    max-width: 380px;
  }

  .hero-img {
    margin-left: 0;
    max-width: 200px;
  }

  .hero-img-mobile {
    display: none;
  }

  .hero-img-desktop {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 175px;
  }
}


/******** PORTFOLIO STYLES ******/

.portfolio {
  margin-top: 40px;
  padding-bottom: 80px; /* positions the :after spacing */
  position: relative;
}

.portfolio:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background: #757575;
  width: 90px;
}

.recent-stuff {
  width: 279px;
  height: 48px;
  background-image: url(img/recent-stuff.png);
}

.portfolio-media-block {
  margin-top: 64px;
}

.portfolio-media-content {
  margin-top: 30px;
}

.portfolio-media-tag {
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
  color: #757575;
  font-size: 14px;
  font-weight: bold;
}

.portfolio-media-title {
  font-size: 20px;
  margin: 0 0 10px;
}

.portfolio-media-image-wrapper {
  height: 0;
  padding-bottom: 50%;
  position: relative;
}

.portfolio-media-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-media-button {
  display: table;
  padding: 12px;
  text-decoration: none;
  border: solid 1px #000;
}

.portfolio-media-button:hover {
  background: #000;
  color: #fff;
}

.portfolio-media-button:hover {
  background: #000;
  color: #fff;
}

.portfolio-media-button:hover:after {
  background: #000;
  color: #fff;
  background-image: url(img/arrow-hover.svg);
}

.portfolio-media-button:after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  background-image: url(img/arrow.svg);
  width: 12px;
  height: 9px;
  background-size: cover;
}

@media screen and (min-width: 640px) {
  .portfolio-media-block {
    display: flex;
    align-items: flex-start;
  }

  .portfolio-media-image-wrapper {
    width: 200px;
    padding-bottom: 23%;
  }

  .portfolio-media-content {
    margin-top: 0;
    margin-lefT: 24px;
    flex: 1;
  }
}

/******** FOOTER STYLES ******/

.footer {
  margin-top: 40px;
}

.footer a:after {
  content: '/';
  display: inline-block;
  margin-left: 5px;
}

.footer a:last-child:after {
  display: none;
}
