/********GLOBAL STYLES******/

* {box-sizing: border-box;}

body {
    font-family: 'Lato', sans-serif;
    margin: auto;
    padding: 0;
    background-color: #FCFCFC;
    border: 15px solid #eaeaea;
}

p,
a {
    color: #383838;
    text-decoration: none;
}

p {
    font-weight: 300;
    line-height: 28px;
    font-size: 14px;
    letter-spacing: 0.36px;
}

p a {
    text-decoration: underline;
    font-weight: 400;
}

a {
    cursor: pointer;
}


/********LANDING*******/
.landing {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	min-height: 100%;
}

.landing .hero {
    max-width: 850px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 440px 180px;
}

.hero-img {
	display: inline-block;
}

.hero-img img {
    width: 100%;
	max-width: 180px;
	text-align: right;
}

.landing .footer {
    margin: 25px 0;
}

.landing .title {
    width: 150px;
}


/********SECTIONS*******/

.sections {
    z-index: 999;
    margin: 50px;
}

.sections a {
    color: #111;
}

.footer {
    margin: 50px 0;

}

/********FOOTER*******/

.footer > .social-media div {
    display: inline-block;
    padding-right: 10px;
}

.footer > .social-media div:last-child {
    padding-right: 0px;
}

.footer > .social-media div > a > i {
    color: #6c6c6c;
}

.footer > .social-media div > a > i:hover {
    opacity: .5;
}



/********CONTENT*******/

.hero {
    padding: 50px 0;
}

.content {
    margin: auto;
    max-width: 600px;
    z-index: 9999;
}

.comic {
    margin-bottom: 50px;
}

img {
    width: 100%;
}

.collab {
    margin-top: 0;
}

@media screen and (max-width: 830px) {
    .hero {
        padding: 0;
    }
	
	.landing .hero {
		grid-gap: 0px;
		grid-template-columns: 100%;
	}
	
	.hero-img img {
    	width: 100%;
		max-width: 180px;
		float: right;
	}
	
}

@media screen and (max-width: 576px) {
    .sections {
        margin: 25px;
    }
}